extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action='/api/rutasbuses', method= 'post')
    label(for="numero") numero
    input#numero(name="numero" ,type="text")
    label(for="ponen")
    input#ponen(name="ponen", type = "text")
    label(for="ponen")
    input#precio(name="precio" ,type="text")
    button#enviar(type="button", value="enviar")
    button#modificar(type="button", value="enviar")
    button#enviar(type="button", value="enviar")
  table
    th id
    th numero
    th ponen
    th precio
    tbody.rutas

  script(src="/javascripts/main.js")

